<html lang="en">


<head>
    <title>My Home Page</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />

</head>

{% load staticfiles %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% include "nav/nav.html" %}

<body>
<div class="col-sm-10 bootcards-cards">
    <div class="panel panel-default">
        <div style="text-align:center">
            <img src="{% static "images/CMGlogo-white-BG.jpg" %}" style="height:200px">

            <h1>Welcome to the CMG Intranet</h1>

            <p> Still under construction.</p>
        </div>
    </div>
</div>

</body>
</html>