<html lang="en">
<head>
    <title>My Home Page</title>           
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
 
</head>
<body>
<p>Welcome to the CIMC Webapp! Here are some useful links:</p>  

 <ul>
  <li>Startup Shot</li>
  	<ul>
  		<li><a href="/startupshot/">View startup shots</a></li>
  		<li><a href="/startupshot/create/">Create startup shots</a></li>
  	</ul>
  <li>Inspection DB</li>
     <ul>
         <li><a href="/inspection/">Go to part inspection page</a></li>
     </ul>
  <li>PHL</li>
  <li>MML</li>
</ul> 

</body>
</html>