<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMG QMS - Preventative Maintenance Form [{{ request.user.username }}]</title>
</head>
<body>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery=1 %}

{% include "nav/nav.html" %}



<div class="col-sm-10 bootcards-cards">
    {% include "equipment/subTemplates/equipInfo.html" %}

    <div class="panel panel-default ">
        <div class="panel-body">
            {% include "project_form_templates/gen_form.html" %}
            </div>
    </div>

    {% include "equipment/subTemplates/pm_subreport.html" %}



</div>




</body>
</html>


{% if pm_id %}


    <script>
        $(document).ready(function () {
            {% with pm_id|add:' option' as idSelectopt %}
                $('{{ idSelectopt }}').prop('selected', true);
            {% endwith %}
        });
    </script>

{% endif %}
