<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMG QMS - Equipment Index [{{ request.user.username }}]</title>
</head>
<body>


{% include "nav/nav.html" %}

<div class="col-sm-10 bootcards-cards">
    <div class="panel panel-default">
        <div class="panel-body">
            <p>Welcome to the CMG QMS Equipment Maintenance Page! Click on one of the following equipment types to view more
                information or record an activity:</p>
        </div>
    </div>



{% if equipmentTypes %}
        <div class="bootcards-list">
            <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    <h3 class="panel-title pull-left"></h3>
                </div>
                <div class="list-group">
                    {% for each_type in equipmentTypes %}
                        <a class="list-group-item" href="/equipment/view_equipment/{{ each_type.id }}/">
                            <h4 class="list-group-item-heading">{{ each_type.part_identifier }}</h4>
                            <p class="list-group-item-text">{{ each_type.manufacturer_name }} {{ each_type.equipment_type }}</p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


</div>


</body>
</html>


