<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p> Welcome to the CIMC Inspection Page! Here is the start up shot information </p>


{% include "inspection/subJobInfo.html" %}

{%  for ep in active_job %}
    <ul>
        {% if ep.item.visual_inspection %}
        <li><a href="/inspection/{{ ep.jobNumber }}/visual">Click here to record visual inspection</a></li>
        {% endif %}
        {% if ep.item.weight_inspection %}
            <li><a href="/inspection/{{ ep.jobNumber }}/weight">Click here to record weight inspection</a></li>
        {% endif %}
    </ul>
{% endfor %}





</body>
</html>