{% if active_job %}
    <table>
        <tr>
            <td>Item #</td>
            <td>Description</td>
            <td>Job Number</td>
            <td>Start up part Weight</td>
            <td>Cavity ID</td>
            <td>Head ID</td>
            <td>Active Cavities</td>
            <td>Machine Number</td>
        </tr>
        {%  for ep in active_job %}
            <tr>
                <td>
                    {{ ep.item.item_Number }}
                </td>
                <td>
                    {{ ep.item.item_Description }}
                </td>
                <td>
                    {{ ep.jobNumber }}
                </td>
                <td>
                    {{ ep.partWeight }}
                </td>
                <td>
                    {{ ep.cavityID }}
                </td>
                <td>
                    {{ ep.headID }}
                </td>
                <td>
                    {{ ep.activeCavities }}
                </td>
                <td>
                    {{ ep.machNo }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endif %} 
