{% if MattecDict %}
    <table class="table table-hover">
        <caption style="text-align:center">Startup Shot</caption>
        <tr>
            <td>Machine Number</td>
            <td>Item Number</td>
            <td>Item Description</td>
            <td>Job Number</td>
            <td>Mold Number</td>
            <td>Active Cavities</td>
            <td>Cycle Time</td>
        </tr>
        <tr>
            <td>
                {{ MattecDict.machNo }}
            </td>
            <td>
                {{ MattecDict.itemNo }}
            </td>
            <td>
                {{ MattecDict.itemDesc }}
            </td>
            <td>
                {{ MattecDict.jobNumber }}
            </td>
            <td>
                {{ MattecDict.moldNumber }}
            </td>
            <td>
                {{ MattecDict.activeCavities }}
            </td>
            <td> {{ MattecDict.cycleTime }}</td>
        </tr>
    </table>
{% endif %}

{# Need to add in expected cycle and expected part weight from TMM#}