<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMG QMS - Startup Shot FAS01 [{{ request.user.username }}]</title>
</head>
<body>


{% include "nav/nav.html" %}


<div class="col-sm-10 bootcards-cards">
    <div class="panel panel-default ">
        <div class="panel-body">
            <p>Warning: There are no startup shots for FAS01.</p>
        </div>
    </div>
</div>
