<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% if item %}
    {{item.item_Number}} - {{item.item_Description}}
{%  endif %}

{% if different_shot_list %}
    <div>
    <table class="table table-bordered">
    <tr>
    <td>Job Number</td>
    <td>Date Created</td>
    <td>Part Weight</td>
    <td>Active Cavities</td>
    <td>Head ID</td>
        <td>Cavity ID</td>
    </tr>
    {% for eachJob in different_shot_list %}
        <tr>
        <td> {{ eachJob.jobNumber }}</td>
            <td>{{ eachJob.dateCreated }}</td>
            <td>{{ eachJob.partWeight }}</td>
            <td>{{ eachJob.activeCavities }}</td>
            <td>{{ eachJob.headID }}</td>
            <td>{{ eachJob.cavityID }}</td>
        </tr>
    {% endfor %}
    </div>
{% else %}
    <p>No jobs recorded.</p>
{% endif %}

</body>
</html>