{% if activeInMattec %}
    <div class="bootcards-list">
        <div class="panel panel-default">
            <div class="list-group">
                {% for eachActive in activeInMattec %}
                    <a class="list-group-item" href="/startupshot/create/{{ eachActive.jobNumber }}/">
                        <h4 class="list-group-item-heading">{{ eachActive.machNo }}</h4>

                        <p class="list-group-item-text">{{ eachActive.itemDesc }} </p>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}