{% if range_dict %}
        <div class="panel panel-default">
                <div class="panel-heading clearfix">
                    {% if range_dict.0.rangeTestName.report_name %}
                        <h3 class="panel-title pull-left"> {{ range_dict.0.rangeTestName.report_name }} </h3>
                    {% else %}
                        <h3 class="panel-title pull-left"> {{ range_dict.0.rangeTestName }} </h3>
                    {% endif %}
                </div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                    <tr id={{ key }}>
                        <th>Machine Operator</th>
                        <th>Inspector</th>
                        <th>Date</th>
                        <th>Inspection Result</th>
                        <th>Cav</th>
                        <th>Low</th>
                        <th>High</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ep in range_dict %}
                        <tr>
                            <td>
                                {{ ep.machineOperator }}
                            </td>
                            <td>
                                {{ ep.inspectorName }}
                            </td>
                            <td>
                                {{ ep.dateCreated }}
                            </td>
                            <td>
                                {{ ep.inspectionResult|yesno:"Pass,Fail,Fail" }}
                            </td>
                            <td> {{ ep.headCavID|default_if_none:"Full Shot" }}</td>
                            <td>{{ ep.numVal_1 }}</td>
                            <td>{{ ep.numVal_2 }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
{% endif %}

