<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Report Viewer</title>

    <style>
    caption {
        display: table-caption;
        text-align: center;
    }
</style>
</head>

<body>

{% include "nav/nav.html" %}

{% load staticfiles %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>
<script src="{% static "datatables/jquery.dataTables.min.js" %}"></script>
<link rel="stylesheet" type="text/css"  href="{% static "datatables/jquery.dataTables.min.css" %}"/>

<div class="col-sm-2 bootcards-cards">
    {% include "job_report_viewer/side_navigation.html" %}
</div>


<div class="col-sm-10 bootcards-cards">
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left">Job Report: {{job_number}}</h3>
            </div>
            <div class="modal-body>
                <div id="dataHolder">
                    <p></p>
                </div>
        </div>
    </div>
</div>


</body>
</html>

{% include "job_report_viewer/js_tree.html" %}