<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Job Report Viewer</title>
</head>
<body>


{% include "nav/nav.html" %}


<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/themes/default/style.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.3.3/jstree.min.js"></script>

<div class="col-sm-2 bootcards-cards">
    {% include "job_report_viewer/side_navigation.html" %}
</div>


<div class="col-sm-10 bootcards-cards">
    <div class="panel panel-default">
        <div id="dataHolder">
            <p>friend</p>
        </div>
    </div>
</div>


</body>
</html>

<script>

    document.getElementById("coverPage").onclick = function() {coverPageLoad()};
    function coverPageLoad() {
        $( "#dataHolder" ).load( "{% url 'cover_page' %}?job_number={{ job_number }}", function( response, status, xhr ) {
          if ( status == "error" ) {
            var msg = "Sorry but there was an error: ";
            $( "#error" ).html( msg + xhr.status + " " + xhr.statusText );
          }
        });
    }
</script>

{% include "job_report_viewer/js_tree.html" %}