{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMG QMS - Inspection Entry [{{ request.user.username }}]</title>
</head>
<body>

{% include "nav/nav.html" %}


<div class="col-sm-offset-1 col-sm-10 bootcards-cards">

    {% include "ins/modules/job_high_level.html" %}

    {% include "ins/modules/inspection_tree.html" %}


</div>


</body>
</html>

<link href="{% static "js-tree/themes/default/style.min.css" %}" rel="stylesheet">

<script src="{% static "js-tree/jstree.min.js" %}"></script>

<script>
    $('#jstree').jstree();
</script>

<script>
    $("#jstree").bind("select_node.jstree", function (e, data) {
         var href = data.node.a_attr.href;
         document.location.href = href;
    });
</script>
