<script>
    $( document ).ready(function() {
        /* Latest compiled and minified JavaScript included as External Resource */

        function updateResult() {
          var observedValue = document.getElementById('observedValue').value;
          var cavitiesSampled = document.getElementById('cavitiesSampled').value;
          var resultValue;
          if ((observedValue) && (cavitiesSampled)) {
            resultValue = observedValue / cavitiesSampled;
            document.getElementById('resultValue').value = round(resultValue, 3);
            document.getElementById({{id_numeric}}).value = round(resultValue, 3);
            console.log(resultValue);
          }
        }

        function round(value, exp) {
          if (typeof exp === 'undefined' || +exp === 0)
            return Math.round(value);

          value = +value;
          exp = +exp;

          if (isNaN(value) || !(typeof exp === 'number' && exp % 1 === 0))
            return NaN;

          // Shift
          value = value.toString().split('e');
          value = Math.round(+(value[0] + 'e' + (value[1] ? (+value[1] + exp) : exp)));

          // Shift back
          value = value.toString().split('e');
          return +(value[0] + 'e' + (value[1] ? (+value[1] - exp) : -exp));
        }
});
</script>
