<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMG QMS - Item Report Search [{{ request.user.username }}]</title>
</head>
<body>

{% include "nav/nav.html" %}


<div class="col-sm-offset-1 col-sm-10 bootcards-cards">
    <p>Welcome to the CMG Inspection Page! Type in an item number to generate a report:</p>
    <div class="panel panel-default ">
            {% include "project_form_templates/gen_form.html" %}
    </div>
</div>


{% include "date_templates/date_range.html" %}


</body>
</html>