<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Error Log</title>
</head>

<style>
#chartdiv {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}
</style>

<body>


{% include "nav/nav.html" %}

<div class="col-sm-10 bootcards-cards">
 <div class="panel panel-default">
        <div class="panel-body">
    <div id="chartdiv"></div>
        </div>
 </div>

{% if prodErrors %}
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <caption style="text-align:center">Error Log</caption>
                <thead>
                <tr>
                    <th>Shift</th>
                    <th>Date</th>
                    <th>Machine</th>
                    <th>Part Description</th>
                    <th>Inspection Name</th>
                    <th>Error Description</th>
                </tr>
                </thead>
            <tbody>
            {% for eachProdError in prodErrors %}
                <tr class='clickable-row' data-href='/inspection/jobReport/{{ eachProdError.jobID }}/' >
                <td>
                    {{ eachProdError.shiftID }}
                </td>
                <td>
                    {{ eachProdError.dateCreated }}
                </td>
                <td>
                    {{ eachProdError.machNo }}
                </td>
                <td>
                    {{ eachProdError.partDesc }}
                </td>
                <td>
                    {{ eachProdError.inspectionName }}
                </td>
                <td>
                    {{ eachProdError.errorDescription }}
                </td>
            </tr>
            {% endfor %}

            </tbody>
            </table>
        </div>
    </div>
{% endif %}

</div>
</body>
</html>

<script>
   jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>


{% load staticfiles %}
<script src="{% static "amcharts_3/amcharts/amcharts.js" %}"></script>
<script src="{% static "amcharts_3/amcharts/serial.js" %}"></script>
<script src="{% static "amcharts_3/amcharts/themes/light.js" %}"></script>
<script src="{% static "bootcard/js/bootcards.min.js" %}"></script>



<script>
   $.ajax({
  dataType: "json",
  url: "/dashboard/jsonError/",
  success: function(result){
      console.log(result);
      myBarChart(result);
  }
});
</script>




<script>
    function myBarChart(my_JSON) {
var chart = AmCharts.makeChart( "chartdiv", {
  "type": "serial",
  "theme": "light",
  "dataProvider": my_JSON,
  "valueAxes": [ {
    "gridColor": "#FFFFFF",
    "gridAlpha": 0.2,
    "dashLength": 0
  } ],
  "gridAboveGraphs": true,
  "startDuration": 1,
  "graphs": [ {
    "balloonText": "[[category]]: <b>[[value]]</b>",
    "fillAlphas": 0.8,
    "lineAlpha": 0.2,
    "type": "column",
    "valueField": "error_count"
  } ],
  "chartCursor": {
    "categoryBalloonEnabled": false,
    "cursorAlpha": 0,
    "zoomable": false
  },
  "categoryField": "error_name",
  "categoryAxis": {
    "gridPosition": "start",
    "gridAlpha": 0,
    "tickPosition": "start",
    "tickLength": 20,
      "autoWrap": true
  },
  "export": {
    "enabled": true
  }

}) }
</script>



