
<script src="//code.jquery.com/jquery-1.12.3.js "></script>
<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>


    <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css" />
{% include "nav/nav.html" %}



<html>
    <table class="'datatable table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <th>Date</th>
            <th>Inspection Type</th>
            <th>Job Number</th>
            <th>Item Number</th>
            <th>Test Name</th>
            <th>Inspection Result</th>
            <th>Report Text</th>
        </thead>
        <tbody>

        </tbody>
    </table>
</html>

<script>
    $(document).ready(function() {
        var oTable = $('.datatable').dataTable({
            "pageLength": 25,
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'order_list_json' %}"
        });
        });
</script>