{% if value %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left"> {{ value.susInfo.machNo }} - {{ value.susInfo.item.item_Description }} </h3>
        </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Inspection Name </th>
                <th>Required Inspections </th>
                <th>Completed Inspections </th>
            </tr>
            </thead>
            <tbody>

            {% for testDict in value.testDict %}
                <tr>
                <td> {{ testDict.testName }}</td>
                <td> {{ testDict.n_tests }} </td>
                <td> 0 </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    </div>
{% endif %}
