{% if value %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left"> {{ value.susInfo.machNo }} - {{ value.susInfo.item.item_Description }} </h3>
        </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Inspection Name </th>
                <th>Required Inspections </th>
                <th>Completed Inspections </th>
            </tr>
            </thead>
            <tbody>

            {% for key,value in value.testDict.items %}
                {% if value.n_tests < 3  %}
                    <tr class="danger">
                {% else %}
                    <tr class="success">
                {% endif %}
                <td> {{ value.testName }}</td>
                <td> 3 </td>
                <td> {{ value.n_tests }} </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    </div>
{% endif %}
