{% load mathfilters %}

{% if active_job %}

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <caption style="text-align:center">Part Information</caption>
                <thead>
                <tr>
                    <th>Item #</th>
                    <th>Description</th>
                    <th>TMM Part Weight (g)</th>
                    <th>TMM Cycle (s)</th>
                </tr>
                </thead>
                <tbody>
                {% for ep in active_job %}
                    <tr>
                        <td>{{ ep.item.item_Number }}</td>
                        <td>{{ ep.item.item_Description }}</td>
                        <td>{{ ep.item.exp_part_weight }}</td>
                        <td>{{ ep.item.exp_cycle_time }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>


    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <caption style="text-align:center">Start Up Shot Information</caption>
                <thead>
                <tr>
                    <th>Machine Operator</th>
                    <th>Inspector</th>
                    <th>Job Number</th>
                    <th>Shot Weight</th>
                    <th>Active Cavitation</th>
                    <th>Average Part Weight (g)</th>
                    <th>Machine Number</th>
                    <th>Cycle Time (s)</th>
                </tr>
                </thead>
                <tbody>
                {% for ep in active_job %}
                    <tr>
                        <td> {{ ep.machineOperator }}</td>
                        <td> {{ ep.inspectorName }}</td>
                        <td>{{ ep.jobNumber }} </td>
                        <td>{{ ep.shotWeight }}</td>
                        <td>{{ ep.activeCavities }}</td>
                        <td>{{ ep.shotWeight|div:ep.activeCavities }}</td>
                        <td>{{ ep.machNo }}</td>
                        <td>{{ ep.cycleTime }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <caption style="text-align:center">Mold Information</caption>
                <thead>
                <tr>
                    <th>Mold ID</th>
                    <th>Mold Description</th>
                    <th>Total Cavities</th>
                </tr>
                </thead>
                <tbody>
                {% for ep in active_job %}
                    <tr>
                        <td>{{ ep.moldNumber }}</td>
                        <td>{{ ep.moldNumber.mold_description }}</td>
                        <td>{{ ep.moldNumber.num_cavities }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endif %}

