{% if rangeSummaryDict %}
    <div class="panel panel-default">
        <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left"> {{ rangeSummaryDict.inspectionName }} </h3>
        </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Job Number</th>
                <th>Total Inspections</th>
                <th>Min</th>
                <th>Avg</th>
                <th>Std Dev</th>
                <th>Max</th>
            </tr>
            </thead>
            <tbody>
            {% for key,value in rangeSummaryDict.items %}
                <tr>
                {% if value.jobID %}
                    <td> {{ value.jobID }}</td>
                    <td> {{ value.rangeStats.rangeList__count }}</td>
                    <td> {{ value.rangeStats.rangeList__min }} </td>
                    <td> {{ value.rangeStats.rangeList__avg }} </td>
                    <td> {{ value.rangeStats.rangeList__stddev }} </td>
                    <td> {{ value.rangeStats.rangeList__max }} </td>
                {% endif %}
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
{% endif %}
