{% load mathfilters %}

{% if rangeSummaryDict %}
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <caption style="text-align:center">{{ rangeSummaryDict.rangeName }}</caption>
                <thead>
                <tr>
                    <th>Total Inspections</th>
                    <th>Min</th>
                    <th>Average</th>
                    <th>Std Dev</th>
                    <th>Max</th>
                </tr>
                </thead>
            <tbody>
            <tr>
                <td>
                    {{ rangeSummaryDict.rangeStats.rangeList__count }}
                </td>
                <td>
                    {{ rangeSummaryDict.rangeStats.rangeList__min }}
                </td>
                <td>
                    {{ rangeSummaryDict.rangeStats.rangeList__avg }}
                </td>
                <td>
                    {{ rangeSummaryDict.rangeStats.rangeList__stddev }}
                </td>
                <td>
                    {{ rangeSummaryDict.rangeStats.rangeList__max }}
                </td>
            </tr>
            </tbody>
            </table>
            Note: The resulting statistics take cavitation into account if a full shot was entered.
        </div>
    </div>
{% endif %}

