

{% if shotWeightInspection %}
    <div class="panel panel-default">
        <div class="panel-body">
            <table class="table table-hover">
                <caption style="text-align:center">Shot Weight Log</caption>
                <thead>
                <tr>
                    <th>Date Created</th>
                    <th>Machine Operator</th>
                    <th>Inspector Name</th>
                    <th>Active Cavities</th>
                    <th>Shot Weight (g)</th>
                    <th>Average Part Weight (g)</th>
                </tr>
                </thead>
                <tbody>
                {% for ep in shotWeightInspection %}
                    <tr>
                        <td>
                            {{ ep.dateCreated }}
                        </td>
                        <td>
                            {{ ep.machineOperator }}
                        </td>
                        <td> {{ ep.inspectorName }}</td>
                        <td> {{ ep.activeCavities }}</td>
                        <td> {{ ep.shotWeight }} </td>
                        <td> {{ ep.shotWeight|div:ep.activeCavities }} </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endif %}

