{% if InspectionDates %}
    <div class="panel panel-default">
    <div class="panel-body">
        <table class="table table-hover">
            <caption style="text-align:center">Date Range Summary</caption>
            <thead>
            <tr>
                <th class="col-sm-2">Job Started</th>
                <th class="col-sm-2">Job Ended</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    {{ InspectionDates.dateCreated__min|date:"M d, Y" }}
                </td>
                <td>
                    {{ InspectionDates.dateCreated__max|date:"M d, Y" }}
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
{% endif %}


{% for key,value in pf.items %}
                {% with value as pfSummaryDict %}
                    {% include "inspection/subTemplates/subPFSummary.html" %}
                {% endwith %}
{% endfor %}




{#{% if visualInspectionDict %}#}
{#    <div class="panel panel-default">#}
{#    <div class="panel-body">#}
{#        <table class="table table-hover">#}
{#            <caption style="text-align:center">Visual Inspection Summary</caption>#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Total Visual Inspections</th>#}
{#                <th>Pass</th>#}
{#                <th>Fail</th>#}
{#                <th>Pass Percent</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td>#}
{#                    {{ visualInspectionDict.totalInspections }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ visualInspectionDict.numPass }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ visualInspectionDict.numFail }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ visualInspectionDict.passPerc }} %#}
{#                </td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    </div>#}
{#{% endif %}#}
{##}
{##}
{##}
{#{% if partWeightInspectionDict %}#}
{#    <div class="panel panel-default">#}
{#    <div class="panel-body">#}
{#        <table class="table table-hover">#}
{#            <caption style="text-align:center">Part Weight Inspection Summary</caption>#}
{#            <thead>#}
{#            <tr>#}
{#                <th>Minimum</th>#}
{#                <th>Average</th>#}
{#                <th>Standard Deviation</th>#}
{#                <th>Maximum</th>#}
{#            </tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            <tr>#}
{#                <td>#}
{#                    {{ partWeightInspectionDict.partWeight__min }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ partWeightInspectionDict.partWeight__avg }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ partWeightInspectionDict.partWeight__stddev }}#}
{#                </td>#}
{#                <td>#}
{#                    {{ partWeightInspectionDict.partWeight__max }}#}
{#                </td>#}
{#            </tr>#}
{#            </tbody>#}
{#        </table>#}
{#    </div>#}
{#    </div>#}
{#{% endif %}#}

{% endif %}

