<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMG QMS - Mold Lookup [{{ request.user.username }}]</title>
</head>
<body>

{% include "nav/nav.html" %}



<div class="col-sm-10 bootcards-cards">
    <p>Type in a mold number to record tooling related event.</p>
    <div class="panel panel-default ">
            {% include "project_form_templates/gen_form.html" %}
    </div>

        {% if activeInMattec %}
        <div class="bootcards-list">
            <div class="panel panel-default">
                <div class="list-group">
                    {% for eachActive in activeInMattec %}
                        <a class="list-group-item"
                           href="/production_and_mold_history/mold_report/{{ eachActive.moldNumber.mold_number }}">
                            <h4 class="list-group-item-heading">{{ eachActive.machNo }}</h4>
                            <p class="list-group-item-text">{{ eachActive.moldNumber.moldNumber }} - {{ eachActive.moldNumber.mold_description }} </p>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
</div>

</body>
</html>

{% include "date_templates/date_range.html" %}
