<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CMG QMS - Startup Shot [{{ request.user.username }}]</title>
</head>
<body>


{% include "nav/nav.html" %}


<div class="col-sm-offset-1 col-sm-10 bootcards-cards">
    <div class="panel panel-default ">
        <div class="panel-body">
            <p>Welcome to the CMG Startup Shot Page! The following machines are active:</p>
        </div>
    </div>

    {% include "startupshot/sub_html/view_active_mattec.html" %}
</div>
